<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tudorsync>
            <general>
                <environment>staging</environment>
                <value_mode>quantity</value_mode>
                <click_and_collect_enabled>0</click_and_collect_enabled>
                <cron_schedule>0 * * * *</cron_schedule>
                <realtime_enabled>1</realtime_enabled>
                <client_secret_staging backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <client_secret_production backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </general>
            <urls>
                <locale_format>language_region</locale_format>
            </urls>
        </tudorsync>
    </default>
</config>
