<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tudorsync>
            <general>
                <environment>staging</environment>
                <click_and_collect_enabled>0</click_and_collect_enabled>
                <cron_schedule>0 * * * *</cron_schedule>
            </general>
        </tudorsync>
    </default>
</config>
